{{extend 'layout.html'}}
      <div class="hero-unit">
          <img src="/DroneManager/static/images/open_relief_logo.jpg" alt="Open Relief" style="float: left"/>
          <h1>Drone Manager</h1>
          <p>Bridging Sahana Eden and Mission Planner, Getting You Flying</p>
      </div>

          <div class="row-fluid">
          <div class="span4">
              <h2>Sahana Eden Integration</h2>
              <p>Transfer data back and forth from/to Sahana Eden.</p>
              <p><a class="btn" href="/DroneManager/sahana/index">View details &raquo;</a></p>
          </div>

          <div class="span4">
              <h2>Connect to Mission Planner</h2>
              <p>Load and review flights/GPS</p>
              <p><a class="btn" href="/DroneManager/mission/list">View details &raquo;</a></p>
          </div>
          
          </div><!--/row-->
