<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','css/bootstrap.min.css'))}}
  {{response.files.append(URL(request.application,'static','css/bootstrap-responsive.min.css'))}}
  {{response.files.append(URL('static','plugin_layouts/superfish.js'))}}
  {{include 'web2py_ajax.html'}}
     <style type="text/css">
         body {
             padding-top: 60px;
             padding-bottom: 40px;
         }
     </style>
 </head>
 <body>
  <!-- start header -->
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </a>
              <a class="brand" href="/DroneManager">Drone Manager</a>

              <div align=right>
	              {{try:}}{{=auth.navbar(action=URL('default','user'))}}{{except:pass}}
              </div>
              
          </div>
      </div>
  </div>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              {{=MENU(response.menu)}}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
      <div id="main">
          <div class="flash">{{=response.flash or ''}}</div>
          {{include}}
      </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

     <footer>
          <div class="container">
              Open Source
    <span class="separator">
     |
    </span>
              &nbsp; Part of the
              <a href="http://www.openrelief.org" title="OpenRelief Development">
                  OpenRelief Project
              </a>
          </div>
      </footer>

    </div><!--/.fluid-container-->



  <script src="http://code.jquery.com/jquery-latest.js"></script>

 </body>
</html>
